
<div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
        <div id="test" class="alert alert-success" {{#if noMessages}}hidden{{/if}}>
            {{ successMsg }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
        <form action="/admin/update" method="post" id="admin-form">
         <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="Discount">Discount</label>
                        <input type="text" id="address" class="form-control" required name="discountup">
                    </div>
                </div>
                <hr> 
            </div>
            <button type="submit" class="btn btn-success">Change Discount</button>
        </form>
        <form action="/admin/history" method="post" id="admin-form">
        <hr> 
         <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="address">History</label>
                    </div>
                </div>
                <hr> 
            </div>
            <button type="submit" class="btn btn-success">View</button>
        </form>


     
    </div>
</div>
        
        




    